.centering{
    width: 700px;
    margin: 0 auto;
}

.relative{
    position: relative;
    background: #eee;
    text-align: center;
    height: 200px;
}

.absolute{
    position: absolute;
    text-align: center;
    bottom: 0;
    right: -20px;
    height: 100px;
    width: 250px;
    background: #999;
}

.fixed{
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    padding: 40px;
    margin: 0;
    background: #eee;
}